@page
@model LoginModel



<h1 class="TitluAnunt pb-5">WELCOME</h1>
 

<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="pb-5"></div>
<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4 pt-3 pb-3" id="logInContainer" >
        <section>
            <form  id="logInForm" method="post">
                <h4>ENTER YOUR ACCOUNT</h4>
                <hr id="logInHR" />
                <div asp-validation-summary="All" class="text-danger "></div>
                <div class="form-group col-12">
                    <label  asp-for="Input.Email">EMAIL</label>
                    <input asp-for="Input.Email" class="form-control" id="logInInputs" />
                    <span  asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="form-group col-12">
                    <label  asp-for="Input.Password">PASSWORD</label>
                    <input asp-for="Input.Password" class="form-control" id="logInInputs" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                 
                <div class="form-group">
                    <button type="submit" id="logInBtn" >LOG-IN</button>
                </div>
            </form>
        </section>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
