
#bodyStyle {
    background-color: #7ad3fb;

}

#logInHR {
    background-color: white;
    border: thin 1px white;
    /*box-shadow: 0px 0px 1px 1px #3b3e3e;*/
}


/* STIL LogIn  */


#logInContainer {
    background-color: #364968;
    border: 2px thin white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}
#logInForm {
    font-family: sans-serif;
    background-color: #20b4cf;
    letter-spacing:4px;
    font-size:20px;
    color: black;
    border: thin;
    text-align: center;
    padding-bottom: 1px;
    transition-duration: 1.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#logInForm:hover
{
        
        transition-duration: 0.5s;
         padding-top:40px;
         padding-bottom:40px;
          
         
}
#logInLabels 
{
    color: white;
    font-weight: 100;
}
#logInBtn {
    background-color: #364968;
     width:110px;
    height: 50px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    transition-duration: 0.5s;
    border: none;
    border-radius: 5px;
}
#logInBtn:hover 
{
        transition-duration: 0.3s;
        width: 110px;
        height: 60px;
        box-shadow: rgb(65 69 74) 0px 30px 60px -12px inset, white 0px 18px 36px -18px inset;
}
#logInInputs
{
    width:69%;
    margin-left: 15%;
   
}
#logInInputs:hover{
        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding:0px;
}
/* STIL Log-In  */


/* STIL Meniu  */

#navBarModded{
    background-color: #364968;
     
    color:white;
}
#navBarItems {
    color: white;
  
    padding: 5px;
    border-radius: 2px;
    transition-duration: 1.5s;
    background-color: #20b4cf;

}
#navBarItems:hover {
        border: 1px solid #20b4cf;
        margin-top: 15px;
        color: white;
        padding-top: 10px;
        box-shadow: rgb(36 38 155) 0px 30px 60px -12px inset, white 0px 18px 36px -18px inset;
        transition-duration: 0.5s;
    }

/* STIL Meniu  */





/* STIL DropDown  */
#navBarItemsDropDown {
    color: white;
    border:white 1px solid;
    border-radius: 2px;
    transition-duration: 1.5s;
    background-color: #20b4cf;
}
#navBarItemsDropDown:hover {
        border: 1px solid #20b4cf;
        margin-top: 15px;
        color: white;
        padding-top: 10px;
        box-shadow: rgb(36 38 155) 0px 30px 60px -12px inset, white 0px 18px 36px -18px inset;
        transition-duration: 0.5s;
    }

/* STIL DropDown  */




/* STIL LogOuts  */

#logOutBtn {
    color: white;
    padding: 5px;
    border-radius: 2px;
    transition-duration: 0.5s;
    background-color: #20b4cf;
    margin-right: 50px;
}
#logOutBtn:hover {
        transition-duration: 0.3s;
        
        box-shadow: rgb(36 38 155) 0px 30px 60px -12px inset, white 0px 18px 36px -18px inset;
    }

/* STIL LogOuts  */





/* STIL TITLURI  */
    .titleHr {
        width: 100%;
        background-color: white;
    }

/* STIL TITLURI  */




    /* STIL ANUNTURI  */
.titluAnunturi {
    background-color: #364968;
    color: white;

}
.bodyAnunt {
    background-color: #20b4cf;
}


/* STIL ANUNTURI  */

.TitluAnunt {
    padding-top: 1.5%;
    color: black;
    background-color: #20b4cf;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size: 40px;
    word-spacing: 15px;
    letter-spacing: 3px;
    line-height: 1;
    text-align: center;
    font-size: 80px;
}
 
/*input[type="file"] {
    display: none;
}*/

.custom-file-upload {
    color: white;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 11px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.1s;
    background-color: #3078fa;
    border-radius: 5px;
}
    .custom-file-upload:hover {
        background-color: #2459b7;
        color: white;
    }
    .custom-file-upload:active {
        background-color: #103e8f;
        color: white;
        padding: 8px 14px;
    }
.btnSearch {
     
    width: 20%;
    padding: 10px;
    background: #ddcc;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}