



<h1 class="TitluAnunt pb-3" >CURS NOU</h1>
<hr />

<div class="row">
    <div class="col-md-4">
</div>
    <div  class="col-md-4 pt-3 pb-4" id="logInContainer">
        <form  id="logInForm" asp-controller="Course" asp-action="CreateCourse" method="post">
            @*<div class="form-group">
                <label for="NumeProfesor">Nume Profesor</label>
                <input type="text" class="form-control" id="NumeProfesor" name="NumeProfesor" value="Nume Prenume">
            </div>*@
            <div class="form-group">
                <label for="NumeCurs">Nume Curs</label>
                <input type="text" class="form-control" id="logInInputs" name="NumeCurs">
            </div>
            <button type="submit" class="btn btnSubmit mb-2">ADD</button>
        </form>
    </div>
</div>

