@model List<Courses>
<h1 class="TitluAnunt pb-5">CURSURI</h1>
 
 
 
<div class="row">
    <div class="col-2">

    </div>

    <div class="row container ">
        @foreach (var item in Model)
        {

            <div class="col-4">
                <div class="mb-4 card d-inline-block" style="        width: 18rem;
        border: solid 0.5px gray;
        border-radius:15px;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;">
                    <img class="card-img-top" src="~/Images/1.jpg" alt="Card image cap">
                    <div class="card-body bg-warning">
                        <h5 class="card-title" style="font-weight:bold; text-align:center">@item.CourseName</h5>
                        <hr style="border:1px solid" />
                        <p class="card-text">TITULAR CURS:</p>
                        <p>@item.CourseOwner</p>

                        <a class="float-right btn btn-info" asp-controller="Course" asp-action="JoinCourse" asp-route-id="@item.Id">Join</a>
                    </div>
                </div>

            </div>
        } 
    </div>

    <div class="container col-2">
        <form asp-action="SearchCourseResult" method="get">

            <div class="form-group">
                <label for="SearchPhrase" class="control-label"> </label>
                <input name="SearchPhrase" class="form-control" placeholder="Cauta un curs" />

            </div>
            <div class="form-group">

                <button class="custom-file-upload" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>


</div>



