@model int

    <h1 class="TitluAnunt pb-3 mb-5">TEMA NOUA CURS</h1>
<div class="row" >
    
        <div class="col-5"> </div>
        <div class="col-1 bodyAnunt">
            <p class="col-12  mt-3  text-xl-right font-weight-bold text-white">SELECTEAZA FISIER</p>

            <p class="col-12  mt-3 text-xl-right font-weight-bold text-white ">UPLOAD</p>
        </div>
        <div class=" bodyAnunt col-2">
            @if (User.IsInRole("Profesor"))
            {
                <form method="post" enctype="multipart/form-data">

                    <input type="hidden" name="CourseId" value="@Model" />

                    <input id="file" type="file" name="files" multiple required style="display: none;" />
                    <label class="btn btnBrowseFileFromALabel mt-2 ml-2 " for="file"><i class="fas fa-plus"></i></label>
                    <input type="text" autocomplete="off" placeholder="DETALII DOCUMENT" name="description" required />
                    <div class="col-1"> </div>
                    <button class="btn btnSubmit ml-2" type="submit" asp-controller="Course" asp-action="TemaCursNoua"><i class="fas fa-upload"></i></button>
                </form>
            }
        </div>
        <div class="col-4"> </div>
    
</div>